.button {
    all: unset;
    padding: 0.5rem 1rem;
    border-radius: 64px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &.primary {
        background-color: hsl(0, 0, 15%);
        color: white;
    }

    &:hover {
        background-color: hsl(0, 0, 30%);
    }

    &.secondary {
        background-color: hsl(0, 0, 95%);
        color: var(--text-foreground-color);
        
        &:hover {
            background-color: hsl(0,0,90%);
        }
    }

    &.sm {
        padding: 0.45rem 0.75rem;
        font-size: 0.875rem;
    }
}