section {
    max-width: var(--page-width);
    margin: auto;

    @media (max-width: 768px) {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: unset;
    }
}

.container {
    background-color: var(--container-color);
    padding: 1rem;
}

hr {
        border: none;
        border-top: 1px solid #e3e3e3;
        height: 0;
        background-color: transparent;
        margin: 1rem 0;
    }