section {
    max-width: var(--page-width);
    margin: auto;

    @media (max-width: 768px) {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: unset;
        width: 100%;
    }
}