@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'Google Sans';
    color: var(--text-foreground-color)
}

h1 {
    font-size: 3.5rem;
    line-height: 1.05;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 600;
}

h3 {
    font-size: 1.375rem;
    line-height: 1.35;
    font-weight: 600;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.45;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-muted-foreground-color);
}

.text-white {
    color: white;
}

.text-white-muted {
    color: white;
    opacity: 0.75;
}

a {
    text-decoration: none;
    color: inherit;
}