:root {
    --cw-padding-multiplier: 1;
    --cw-padding-xs-multiplier: 1;
    --cw-margin-multiplier: 1;
    --cw-gap-multiplier: 1;
}


//--------------PADDING------------
@media (min-width: 768px) {
    @for $i from 1 through 10 {
        .py-#{$i} {
            --padding-y: #{$i};
            padding-top: calc(var(--padding-y) * 1rem * var(--cw-padding-multiplier));
            padding-bottom: calc(var(--padding-y) * 1rem * var(--cw-padding-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .px-#{$i} {
            --padding-x: #{$i};
            padding-left: calc(var(--padding-x) * 1rem * var(--cw-padding-multiplier));
            padding-right: calc(var(--padding-x) * 1rem * var(--cw-padding-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pt-#{$i} {
            --padding-t: #{$i};
            padding-top: calc(var(--padding-t) * 1rem * var(--cw-padding-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pb-#{$i} {
            --padding-b: #{$i};
            padding-bottom: calc(var(--padding-b) * 1rem * var(--cw-padding-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pl-#{$i} {
            --padding-l: #{$i};
            padding-left: calc(var(--padding-l) * 1rem * var(--cw-padding-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pr-#{$i} {
            --padding-r: #{$i};
            padding-right: calc(var(--padding-r) * 1rem * var(--cw-padding-multiplier));
        }
    }
}

//--------------PADDING XS------------
@media (max-width: 768px) {
    @for $i from 1 through 10 {
        .py-xs-#{$i} {
            --padding-y-xs: #{$i};
            padding-top: calc(var(--padding-y-xs) * 1rem * var(--cw-padding-xs-multiplier));
            padding-bottom: calc(var(--padding-y-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .px-xs-#{$i} {
            --padding-x-xs: #{$i};
            padding-left: calc(var(--padding-x-xs) * 1rem * var(--cw-padding-xs-multiplier));
            padding-right: calc(var(--padding-x-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pt-xs-#{$i} {
            --padding-t-xs: #{$i};
            padding-top: calc(var(--padding-t-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pb-xs-#{$i} {
            --padding-b-xs: #{$i};
            padding-bottom: calc(var(--padding-b-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pl-xs-#{$i} {
            --padding-l-xs: #{$i};
            padding-left: calc(var(--padding-l-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
    
    @for $i from 1 through 10 {
        .pr-xs-#{$i} {
            --padding-r-xs: #{$i};
            padding-right: calc(var(--padding-r-xs) * 1rem * var(--cw-padding-xs-multiplier));
        }
    }
}

//--------------MARGIN------------
@for $i from 1 through 10 {
    .my-#{$i} {
        --margin: #{$i};
        margin-top: calc(var(--margin) * 1rem * var(--cw-margin-multiplier));
        margin-bottom: calc(var(--margin) * 1rem * var(--cw-margin-multiplier));
    }
}

@for $i from 1 through 10 {
    .mx-#{$i} {
        --margin: #{$i};
        margin-left: calc(var(--margin) * 1rem * var(--cw-margin-multiplier));
        margin-right: calc(var(--margin) * 1rem * var(--cw-margin-multiplier));
    }
}

@for $i from 1 through 10 {
    .mt-#{$i} {
        --margin: #{$i};
        margin-top: calc(var(--margin) * 1rem * var(--cw-margin-multiplier));
    }
}

@for $i from 1 through 10 {
    .mb-#{$i} {
        --margin: #{$i};
        margin-bottom: calc(var(--margin) * 1rem * var(--cw-margin-multiplier));
    }
}

@for $i from 1 through 10 {
    .ml-#{$i} {
        --margin: #{$i};
        margin-left: calc(var(--margin) * 1rem * var(--cw-margin-multiplier));
    }
}

@for $i from 1 through 10 {
    .mr-#{$i} {
        --margin: #{$i};
        margin-right: calc(var(--margin) * 1rem * var(--cw-margin-multiplier));
    }
}

@for $i from 1 through 10 {
    .gap-#{$i} {
        --gap: #{$i};
        gap: calc(var(--gap) * 1rem * var(--cw-gap-multiplier));
    }
}

.aspect-ratio-1-1 {
    aspect-ratio: 1 / 1;
}

.text-center {
    text-align: center;
}

.text-center-xs {
    @media (max-width: 768px) {
        text-align: center;
    }
}

.hide-mobile {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.hide-desktop {
    @media (min-width: 768px) {
        display: none !important;
    }
}